@{
    ViewBag.Title = "Контакты";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section class="contact">
    <p>
        <span><a href="http://vstu.ru/">Перейти на сайт ВолгГТУ</a></span>
    </p>
    <p>
        <span><a href="http://edu.vstu.ru/">Перейти на сайт 'edu.vstu'</a></span>
    </p>
</section>